In [1]:
pip install kafka-python

Collecting kafka-python
  Downloading kafka_python-2.2.15-py2.py3-none-any.whl (309 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 309.8/309.8 kB 4.2 MB/s eta 0:00:00a 0:00:01
Installing collected packages: kafka-python
Successfully installed kafka-python-2.2.15
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
import json

In [ ]:
producer = KafkaProducer(bootstrap_servers=[':9092'],
                        value_serializer = lamba x: json.dumps(x).encode('utf-8'))

In [ ]:
producer.send('demo_test', value = "{'hello':'world'}")

In [15]:
#Read stock market data into csv
csv_url = 'https://raw.githubusercontent.com/darshilparmar/stock-market-kafka-data-engineering-project/refs/heads/main/indexProcessed.csv'
df = pd.read_csv(csv_url)
df.head(10)

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013
5,HSI,1987-01-08,2603.300049,2603.300049,2603.300049,2603.300049,2603.300049,0.0,338.429006
6,HSI,1987-01-09,2561.699951,2561.699951,2561.699951,2561.699951,2561.699951,0.0,333.020994
7,HSI,1987-01-12,2614.899902,2614.899902,2614.899902,2614.899902,2614.899902,0.0,339.936987
8,HSI,1987-01-13,2590.800049,2590.800049,2590.800049,2590.800049,2590.800049,0.0,336.804006
9,HSI,1987-01-14,2578.199951,2578.199951,2578.199951,2578.199951,2578.199951,0.0,335.165994

In [18]:
#Obtain a random Python dictionary object
stock_dict = df.sample(1).to_dict(orient='records')[0]

{'Index': 'N225',
 'Date': '1969-10-31',
 'Open': 2130.300049,
 'High': 2130.300049,
 'Low': 2130.300049,
 'Close': 2130.300049,
 'Adj Close': 2130.300049,
 'Volume': 0.0,
 'CloseUSD': 21.30300049}

In [ ]:
producer.flush()